* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(to right, rgba(15,15,15,0.95), rgba(15,15,15,0.85)),
              url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #FFFFFF;
  line-height: 1.8;
  padding: 20px;
  min-height: 100vh;
}

nav.a {
  text-align: center;
  margin-bottom: 20px;
}
nav.a a {
  margin: 0 12px;
  font-weight: bold;
  text-decoration: none;
  color: #cccccc;
  transition: 0.25s;
}
html{
    scroll-behavior: smooth;
}
nav.a a:hover {
  color: #0062FF;
  transform: scale(1.05);
}

header.b {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
header.b h1 {
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #00b0c0, #00eaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s;
  cursor: pointer;
}
header.b h1:hover {
  transform: scale(1.05);
}
header.b p.d {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #d3d3d3;
  margin-top: 5px;
}
img.c {
  border-radius: 50%;
  border: 4px solid #00c3dde2 ;
  box-shadow: 0 0 10px #ffffff;
  height: 150px;
  margin-bottom: 10px;
  transition: transform 0.5s;
  cursor: pointer;
}
img.c:hover {
  box-shadow: 0 0 20px #00fff7;
  transform: scale(1.05);
}

section {
  background: #0F0F0F;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
  transition: transform 0.3s;
}
section:hover {
  transform: translateY(-8px);
}
section h2 {
  margin-bottom: 10px;
  color: #0062FF;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
section h2:hover {
  color: #00e1ff;
  transform: scale(1.03);
  cursor: pointer;
}

.f {
  padding: 20px 0;
}
.g {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.h {
  background: #1a1a1a;
  color: #1a5bff;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}
.h:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 247, 255, 0.847);
}
.h h3 {
  margin-bottom: 10px;
  color: #d9d9d9;
}
.h p {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #c3c3c3;
}
.h a.i {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #858585;
  color: #fff;
  transition: transform 0.3s, background-color 0.3s;
  text-decoration: none;
}
.h a.i:hover {
  background-color: #0062FF;
  transform: scale(1.05);
}

.k {
  list-style: none;
}
.l i {
  color: #898980;
  margin-right: 3px;
  transition: transform 0.3s, color 0.3s;
}
.l i.filled {
  color: #0062FF;
}
.l i:hover {
  transform: scale(1.3);
  color: #00ffee;
}

.m {
  padding: 40px 20px;
  text-align: center;
  background: #1a1a1a;
  border-radius: 12px;
}
.n {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.o {
  background: #0F0F0F;
  color: #fff;
  border-radius: 15px;
  width: 250px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.o img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
}
.o p {
  font-size: 0.95rem;
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
}
.o:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 255, 242, 0.7);
}
.o:hover img {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.615);
}

p a {
  color: #0062FF;
  text-decoration: none;
}
p a:hover {
  color: #ebff39;
  text-decoration: underline;
}

footer.q p {
  font-size: 0.9rem;
  color: #898980;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  header.b h1 {
    font-size: 1.5rem;
  }
  section {
    padding: 15px;
  }
}
